# General / Node
node_modules/
dist/
.env

# Arch Linux / makepkg: Ignore folders created when running 'makepkg' locally
/src/
/pkg/

# Built packages: {revents committing large binaries
*.pkg.tar.zst
*.pkg.tar.xz

# Source downloads used by PKGBUILD
*.src.tar.gz

# Project Specific: Downloaded patcher (from hytale-auth-server)
backend/patcher/

# macOS Specific
.DS_Store
*.zst.DS_Store
bun.lock
